<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  lang="pt"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <link
      th:rel="stylesheet"
      th:href="@{/assets/css/bootstrap/css/bootstrap.min.css} "
    />
    <link th:rel="stylesheet" th:href="@{/assets/css/styles.css} " />
  </head>

  <body>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div
            class="
              d-flex
              flex-column
              align-items-center align-items-sm-start
              px-3
              pt-2
              text-white
              min-vh-100
            "
          >
            <a
              href="/"
              class="
                d-flex
                align-items-center
                pb-3
                mb-md-0
                me-md-auto
                text-decoration-none
              "
            >
              <span class="fs-5 d-none d-sm-inline">RH module</span>
            </a>
         
            <ul
              class="
                nav nav-pills
                flex-column
                mb-sm-auto mb-0
                align-items-center align-items-sm-start
              "
            >
              <li class="nav-item">
                <a href="/" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-house"></i>
                  <span class="ms-1 d-none d-sm-inline">Home</span>
                </a>
              </li>
              <li>
                <a href="/employees/all" class="nav-link px-0 align-middle">
                  <i class="fs-4 bi-table"></i>
                  <span class="ms-1 d-none d-sm-inline">Employees</span></a
                >
              </li>
              <li>
                <a href="/candidates/all" class="nav-link px-0 align-middle">
                  <i class="fs-4 bi-table"></i>
                  <span class="ms-1 d-none d-sm-inline">Candidates</span></a
                >
              </li>
              
                </ul>
              </li>
            </ul>
            <hr />
            
          </div>
        </div>
        <div class="col py-3">
          <div layout:fragment="content"></div>
        </div>
      </div>
    </div>

    <script th:src="@{/assets/js/jquery/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap/bootstrap.min.js}"></script>
  </body>
</html>
