<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
  <body>
    <div layout:fragment="content">
      <h1>Candidates</h1>

      <a th:href="@{/candidates/new}" class="btn btn-primary btn-sm mb-3">
        Add candidate
      </a>

      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Technical Area</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="candidate : ${candidates}">
            <td class="fs-6" th:text="${candidate.name}"></td>
            <td class="fs-6" th:text="${candidate.technicalArea}"></td>
            <td class="fs-6" th:text="${candidate.email}"></td>
            <td class="fs-6" th:text="${candidate.phone}"></td>
            <td>
              <a th:href="@{/candidates/details/{id}(id=${candidate.id})}" class="btn btn-success btn-sm">View</a>
              <a th:href="@{/candidates/edit/{id}(id=${candidate.id})}" class="btn btn-primary btn-sm">Edit</a>
              <a th:href="@{/candidates/delete/{id}(id=${candidate.id})}" class="btn btn-danger btn-sm">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
