<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  lang="pt"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main}"
>
  <body>
    <div layout:fragment="content">
      <h1>New candidate</h1>
      <form
        th:action="@{/candidates/save}"
        th:object="${candidate}"
        method="POST"
      >
        <div class="row g-3 mb-3">
          <div class="col-sm-4">
            <label class="form-label">Name</label>
            <input
              th:field="*{name}"
              type="text"
              class="form-control"
              placeholder="Name"
              required
            />
          </div>
          <div class="col-sm-4">
            <label class="form-label">ID number</label>
            <input
              type="text"
              class="form-control"
              placeholder="ID number"
              th:field="*{bi}"
              required
            />
          </div>
        </div>

        <div class="row g-3 mb-3">
          <div class="col-sm-4">
            <label class="form-label">Address</label>
            <input
              type="text"
              class="form-control"
              th:field="*{address}"
              placeholder="Address"
              required
            />
          </div>

          <div class="col-sm-2">
            <label class="form-label">Date of birth</label>
            <input
              class="form-control"
              type="date"
              th:field="*{birth}"
              required
            />
          </div>
        </div>

        <div class="row g-3 mb-3">
          <div class="col-sm-4">
            <label class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              placeholder="nome@examplo.com"
              th:field="*{email}"
            />
          </div>

          <div class="col-sm-2">
            <label class="form-label">Phone</label>
            <input
              type="text"
              class="form-control"
              placeholder="Phone"
              th:field="*{phone}"
            />
          </div>
        </div>

        <div class="row g-3 mb-3">
          <div class="col-sm-4">
            <label class="form-label">Technical area</label>
            <input
              type="text"
              class="form-control"
              placeholder="Technical area"
              th:field="*{technicalArea}"
            />
          </div>
          <div class="col-sm-2">
            <label class="form-label">Score (1-10)</label>
            <input
              type="number"
              class="form-control"
              th:field="*{rating}"
              min="0"
              max="10"
              value="0"
            />
          </div>

          <div class="col-sm-2">
            <label class="form-label">Interview date</label>
            <input
              type="date"
              class="form-control"
              th:field="*{jobInterviewDate}"
            />
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-auto">
            <button class="btn btn-primary" type="submit">
              Save candidate
            </button>
          </div>
          <div class="col-auto">
            <a class="btn btn-danger" th:href="@{/candidates/all}">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
