<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  lang="pt"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main}"
>
  <body>
    <div layout:fragment="content">
      <h1>Details of employee</h1>

      <div class="row my-2">
        <div class="col-auto">
          <a
          th:href="@{/employees/edit/{id}(id=${employee.id})}"
          class="btn btn-primary btn-sm"
          >Update data</a>
        </div>
        <div class="col-auto">
          <button 
          type="button" 
          class="btn btn-primary btn-sm" 
          data-bs-toggle="modal" 
          data-bs-target="#vacationModal" 
         >Vacation</button>
        </div>
        <div class="col-auto">
          <button 
          type="button" 
          class="btn btn-warning btn-sm" 
          data-bs-toggle="modal" 
          data-bs-target="#absenseModal" 
         >Aplicar falta</button>
        </div>
        <div class="col-auto">
          <a
          th:href="@{/employees/delete/{id}(id=${employee.id})}"
          class="btn btn-danger btn-sm"
          >Delete employee</a>
        </div>
      </div>

      <table class="table">
        <tbody>
          <tr th:each="employee : ${employees}">
            <tr>
              <th>Name</th>
              <td class="fs-6" th:text="${employee.name}"></td>
            </tr>
            <tr>
              <th>Occupation</th>
              <td class="fs-6" th:text="${employee.occupation}"></td>
            </tr>
            <tr>
              <th>Salary</th>
              <td class="fs-6" th:text="${employee.salary}"></td>
            </tr>
            <tr>
              <th>Start of contract</th>
              <td class="fs-6" th:text="${employee.contractStart}"></td>
            </tr>
            <tr>
              <th>End of contract</th>
              <td class="fs-6" th:text="${employee.contractEnd}"></td>
            </tr>
            <tr>
              <th>ID number</th>
              <td class="fs-6" th:text="${employee.bi}"></td>
            </tr>
            <tr>
              <th>Date of birth</th>
              <td class="fs-6" th:text="${employee.birth}"></td>
            </tr>
            <tr>
              <th>Address</th>
              <td class="fs-6" th:text="${employee.address}"></td>
            </tr>
            <tr>
              <th>Email</th>
              <td class="fs-6" th:text="${employee.email}"></td>
            </tr>
            <tr>
              <th>Phone</th>
              <td class="fs-6" th:text="${employee.phone}"></td>
            </tr>
          </tr>
          <tr>
            <th>Observation</th>
            <td class="fs-6" th:text="${employee.obs}"></td>
          </tr>
        </tr>
        </tbody>
      </table>

      <div class="accordion" id="accordion-details">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Vacation (<span th:text="${employee.vacations.size}"></span>)
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <table class="table">
                <th>Start</th>
                <th>End</th>
                <tbody>
                  <tr th:each="vacation : ${employee.vacations}">
                    <td th:text="${vacation.start}"></td>
                    <td th:text="${vacation.end}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header text-bold" id="panelsStayOpen-headingTwo">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Abscence (<span th:text="${employee.absenses.size}"></span>)
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <table class="table">
                <tbody>
                  <tr th:each="absense : ${employee.absenses}">
                    <th>Day</th>
                    <td th:text="${absense.date}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="vacationModal" tabindex="-1" aria-labelledby="vacationModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="vacationModal">Vacation</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
  
            <form
            th:action="@{/vacations/save/{employee_id}(employee_id=${employee.id})}"
            th:object="${vacation}"
            method="POST">
                <div class="modal-body">
                  <div class="mb-3">
                    <label for="date" class="col-form-label">Start</label>
                    <input class="form-control" type="date" th:field="*{start}"/>
                  </div>
                  <div class="mb-3">
                    <label for="date" class="col-form-label">End</label>
                    <input class="form-control" type="date" th:field="*{end}"/>
                  </div>
                </div>
                
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">OK</button>
                </div>
              </form>
            </div>
        </div>
      </div>

      <div class="modal fade" id="absenseModal" tabindex="-1" aria-labelledby="absenseModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="absenseModal">Apply absence to the employee</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
  
            <form
            th:action="@{/absenses/save/{employee_id}(employee_id=${employee.id})}"
            th:object="${absense}"
            method="POST">
                <div class="modal-body">
                  <div class="mb-3">
                    <label for="date" class="col-form-label">Data</label>
                    <input class="form-control" type="date" th:field="*{date}"/>
                  </div>
                </div>
                
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">OK</button>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
    
  </body>
</html>
