<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  lang="pt"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main}"
>
  <body>
    <div layout:fragment="content">
      <h1>Update employee data</h1>
      <form
        th:action="@{/employees/save}"
        th:object="${employee}"
        method="POST"
      >
        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />
        <div class="row g-3 mb-3">
          <div class="col-sm-4">
            <label class="form-label">Name</label>
            <input
              th:field="*{name}"
              type="text"
              class="form-control"
              placeholder="Nome completo"
              required
            />
          </div>
          <div class="col-sm-4">
            <label class="form-label">ID number</label>
            <input
              type="text"
              class="form-control"
              placeholder="ID number"
              th:field="*{bi}"
              required
            />
          </div>
        </div>

        <div class="row g-3 mb-3">
          <div class="col-sm-4">
            <label class="form-label">Address</label>
            <input
              type="text"
              class="form-control"
              th:field="*{address}"
              placeholder="Address"
              required
            />
          </div>

          <div class="col-sm-2">
            <label class="form-label">Date of birth</label>
            <input
              class="form-control"
              type="date"
              th:field="*{birth}"
              required
            />
          </div>
        </div>

        <div class="row g-3 mb-3">
          <div class="col-sm-4">
            <label class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              placeholder="nome@examplo.com"
              th:field="*{email}"
            />
          </div>

          <div class="col-sm-2">
            <label class="form-label">Phone</label>
            <input
              type="text"
              class="form-control"
              placeholder="Phone"
              th:field="*{phone}"
            />
          </div>
        </div>

        <div class="row g-3 mb-3">
          <div class="col-sm-2">
            <label class="form-label">Start of contract</label>
            <input
              class="form-control"
              type="date"
              th:field="*{contractStart}"
            />
          </div>

          <div class="col-sm-2">
            <label class="form-label">End of contract</label>
            <input class="form-control" type="date" th:field="*{contractEnd}" />
          </div>

          <div class="col-sm-4">
            <label class="form-label">Occupation</label>
            <input
              type="text"
              class="form-control"
              placeholder="Ocupação ou Cargo na empresa"
              th:field="*{occupation}"
            />
          </div>
          <div class="col-sm-4">
            <label class="form-label">Salary</label>
            <input
              type="text"
              class="form-control"
              placeholder="Salary"
              th:field="*{salary}"
            />
          </div>
        </div>

        <div class="row mb-3">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Observation</label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="6"
              th:text="${employee.obs}"
            ></textarea>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-auto">
            <button class="btn btn-primary" type="submit">
              Save
            </button>
          </div>
          <div class="col-auto">
            <a class="btn btn-danger" th:href="@{/}">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
